<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8"/>
        <title><%= title %></title>
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta content = "width=device-width, initial-scale=1" name = "viewport"/>
        <meta content = "" name = "description"/>
        <meta content = "" name = "author"/>
        <!-- Latest compiled and minified CSS -->
        <link href = "//cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.0/ladda-themeless.min.css" rel = "stylesheet"/>
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity = "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin = "anonymous">
        <!-- Optional theme -->
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity = "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin = "anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <link href = "//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css" rel = "stylesheet"/>
        <link rel = 'stylesheet' href = '/stylesheets/style.css'/>

    </head>

    <body ng-app = "myApp" ng-controller = "myAppControllers">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-12">
                    <textarea ng-model = "formData.inputField" class = "form-control" rows = "5" style = "resize:none; font-family: monospace; font-size: 25px"></textarea>

                    <div align = "center" style = "margin-top: 20px">
                        <button id = "submitButton" type = "submit" ng-click = "submit()" class = "btn uppercase mt-ladda-btn ladda-button" style = "background-color: green;color: white" data-style = "expand-right" data-size = "l">
                            <span class = "ladda-label">ประเมิน</span>
                        </button>

                        <button id = "clearButton" type = "submit" ng-click = "clear()" class = "btn uppercase mt-ladda-btn ladda-button" style = "background-color: red;color: white" data-style = "expand-right" data-size = "l">
                            <span class = "ladda-label">
เคลียร์</span>
                        </button>
                    </div>
                </div>
                <div class = "col-md-12" style = "margin-top: 20px" ng-show = "finalInput.length > 0">
                    <table class = "table table-striped" border = "1" style = "font-family: monospace; font-size: 25px">
                        <thead>
                            <tr>
                                <th class = "primary" style = "text-align: center">ข้อมูลที่ป้อนมา</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{format(finalInput).string1}}<br><br>{{format(finalInput).string2}}<br><br>{{format(finalInput).string3}}</td>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class = "col-md-12" style = "margin-top: 20px" ng-show = "finalResult">
                    <div align = "center">
                        <table class = "table table-striped" border = "1" style = "font-family: monospace; font-size: 25px">
                            <thead>
                                <tr>
                                    <th class = "success" style = "text-align: center">ผิด</th>
                                    <th style = "text-align: center">เลข</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat = "(key, value) in finalResult">
                                    <td class = "success" style = "vertical-align: middle; text-align: center">{{key}}</td>
                                    <td style = "white-space:pre-wrap">{{format(value).string1}}<br><br>{{format(value).string2}}<br><br>{{format(value).string3}}</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src = "//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src = "//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src = "//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>
    <script src = "//cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.0/spin.min.js"></script>
    <script src = "//cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.0/ladda.min.js"></script>
    <script>
        angular.module('myApp', ['myAppControllers']);
        var myAppControllers = angular.module('myAppControllers', []);

        myAppControllers.controller('myAppControllers', ['$scope', '$http', '$filter', '$window', function ($scope, $http, $filter, $window) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            var submitButton = document.querySelector('#submitButton') ? Ladda.create(document.querySelector('#submitButton')) : null;

            $scope.formData = {};
            $scope.finalInput = [];
            $scope.finalResult = [];
            $scope.submit = function () {

                submitButton.start();
                $http.post('/', $scope.formData).success(function (object) {
                    $scope.finalInput = [];
                    $scope.finalResult = [];
                    $scope.finalResult = object.finalResult;
                    $scope.finalInput = object.finalInput;
                    toastr.success("สำเร็จ", "Success")
                    submitButton.stop();
                });
            };
            $scope.clear = function () {
                $scope.formData = {};
                $scope.finalInput = [];
                $scope.finalResult = [];
                toastr.success("เคลียร์สำเร็จ", "Success")
            }
            $scope.format = function (value) {
                var string1 = ''; //abc
                var string2 = ''; //aab
                var string3 = ''; //aaa
                // var string = '';
                for (var i = 0; i < value.length; i++) {
                    var setMap = {};
                    for (var j = 0; j < value[i].length; j++) {
                        setMap[value[i].charAt(j)] = true;
                    }
                    if (Object.keys(setMap).length == value[i].length) {
                        string1 = string1 + value[i] + '\t';
                    } else if (Object.keys(setMap).length == 1) {
                        string3 = string3 + value[i] + '\t';
                    } else {
                        string2 = string2 + value[i] + '\t';
                    }

                }
                return {
                    string1: string1,
                    string2: string2,
                    string3: string3
                };
            }
        }]);
    </script>
</html>
